<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Drink Finder</title>
    <link rel="stylesheet" href="vendors/css/bootstrap.css">       
    <link rel="stylesheet" href="vendors/css/all.css">      
    <link rel="stylesheet" href="style/style.css">    
</head>

<body>     
    <script src="vendors/scripts/jquery.min.js"></script>
    <script src="vendors/scripts/popper.min.js"></script>
    <script src="vendors/scripts/bootstrap.min.js"></script>
    <div>{{{body}}}</div>
</body>

</html>