<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h3><i class="fas fa-pencil-alt"></i> Change password.</h3>
        </div>
        <div class="col text-right">
            <a href="/" class="font-weight-bold"><i class="fas fa-home"></i> Home</a>
        </div>
    </div>
    <hr>
</div>
<div class="container mt-5">
    <form id="changePwdForm">        
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="changePassword1"><i class="fas fa-lock"></i> Password</label>
                <input type="password" class="form-control" id="changePassword1" required>
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="col-md-4 mb-3">
                <label for="changePassword2"><i class="fas fa-lock"></i> Confirm Password</label>
                <input type="password" class="form-control" id="changePassword2" required>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col">
                <span class="text-danger" id="pwdChngErrMsg"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <button type="reset" class="btn btn-danger">Clear</button>
                <button type="submit" class="btn btn-info" id="changePwdButton">Submit</button>
            </div>
        </div>
    </form>
</div>

<script src="scripts/changePwd.js"></script>