<div class="container mb-5">
    <div class="row">
        <div class="col"><img src="img/loading.gif" alt="" id="drinkImg"></div>
        <div class="col" id="drinkInfo"></div>        
    </div>
    <div class="row mt-5">
        <div class=" col form-group">
            <label for="comments">Comments:</label>
            <textarea class="form-control" id="comments" rows="3"></textarea>
        </div>
    </div>
    <span class="font-weight-bold mr-3">Rating: </span>
        <div id="star">
            <span id="star1" class="fa fa-star checked"></span>
            <span id="star2" class="fa fa-star"></span>
            <span id="star3" class="fa fa-star"></span>
            <span id="star4" class="fa fa-star"></span>
            <span id="star5" class="fa fa-star"></span>
        </div>
    <div class="row mt-5 justify-content-md-center">
        <div class="col">
            <button id="saveBtn" class="btn btn-primary mr-1">SAVE</button>            
        </div>
    </div>
</div>

<script src="scripts/script.js"></script>
